body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 239, 243);
    /* background-image: url('/bg.jpeg'); */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
}
